/*** General ***/
* {
	font-family: 'RobotoDraft', sans-serif !important;
	font-weight: 300 !important;
}

/*** Forms ***/
.form-group.required label:after
{
	content: " *";
}

/*** Listview ***/
.list-wrapper {
	margin: -15px;
}

.list-wrapper > table.table {
	margin-bottom: 0;
}

.list-wrapper.clickable > table.table tbody tr {
	cursor: pointer;
}

.list-wrapper.clickable > table.table tbody tr:hover {
	background-color: #d7d7d7;
}

.list-wrapper > table.table tfoot {
	text-align: center;
}